<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= typeof title !== 'undefined' ? title : 'Cosmetic Care Spot' %> | Admin</title>

    <% if (process.env.NODE_ENV === 'development') { %>
        <script type="module" src="http://localhost:5173/@vite/client"></script>
        <script type="module" src="http://localhost:5173/assets/js/main.js"></script>
    <% } else { %>
        <link rel="stylesheet" href="/dist/assets/main.css">
        <script type="module" src="/dist/assets/main.js"></script>
    <% } %>

</head>
<body class="bg-gray-100 font-sans leading-normal tracking-normal">

<main>